.container {
	display: grid;
    grid-template-columns: auto 1fr; 
	column-gap: 1.2rem;
	/* row-gap: 1rem; */
}

.narrow-label {
	grid-column: 1/2;
}

.narrow-form {
	grid-column: 1/3;
}

.auto-column {
	grid-column: auto;
}

.no-padding-left {
	padding-left: 0;
}